//*******************************************
// Bulma mixin
//*******************************************
@import "./bulma.mixin.sass";

//*******************************************
// Main App
//*******************************************
#main-app {
  // background: green;
  font-family: Sans-Serif;
}

//*******************************************
// list
//*******************************************
table th {
  padding: 5px;
}
.list-edit {
  color: green;
}
.list-delete {
  color: lightsalmon;
}